.footer {
    margin-top: auto;
    background: #3B3835;
    z-index: 2;

    display: flex;
    justify-content: flex-end;
    padding: 1em 0.5em;
    font-size: 0.8em;

    &__copy {
        color: #FFFCF2;
    }

    &__link {
        color: #EB5E28;
    }
}